Repository JaysonJAcosta5704/Konnect: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto-deploy, android-build, android-test

maven-build:
  stage: mavenbuild
  tags:
  - NishiKant_tag
  script:
  - cd Backend/backend_code
  - mvn package
  artifacts:
    paths:
    - Backend/backend_code/target/*.jar

maven-test:
  stage: maventest
  tags:
  - NishiKant_tag
  script:
  - cd Backend/backend_code
  - mvn test

auto-deploy:
  stage: mavendeploy
  tags:
  - NishiKant_tag
  script:
  - cd Backend/backend_code
  - sudo mv target/*.jar /target/web-demo.jar
  - sudo systemctl stop system-web-demo
  - sudo systemctl start system-web-demo

android-build:
  image: afirefly/android-ci:java17
  stage: androidbuild
  tags:
  - hb1_daniel runner
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/Konnect/gradlew
  script:
  - cd Frontend/Konnect
  - ./gradlew build

android-test:
  image: afirefly/android-ci:java17
  stage: androidtest
  tags:
  - NishiKant_tag
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/Konnect/gradlew
  script:
  - cd Frontend/Konnect
  - ./gradlew test

added changes to yml
  .gitlab-ci.yml
Due: none

made changes
  Backend/backend_code/src/main/java/onetomany/friendrequest/FriendRequest.java
Due: maven-build, maven-test, auto-deploy

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

adding comments
  Backend/backend_code/src/main/java/onetomany/hobbies/Hobbies.java
Due: maven-build, maven-test, auto-deploy

added comments12
  Backend/backend_code/src/main/java/onetomany/friendrequest/FriendRequest.java
  Backend/backend_code/src/main/java/onetomany/hobbies/Hobbies.java
Due: maven-build, maven-test, auto-deploy

changes
  Backend/backend_code/src/main/java/onetomany/Users/UserController.java
Due: maven-build, maven-test, auto-deploy

changes
  .gitlab-ci.yml
Due: none

fixes
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

name changes for better organization
  Frontend/Konnect/app/src/main/res/layout/dashboard_fragment_friends.xml
  Frontend/Konnect/app/src/main/res/layout/dashboard_fragment_profile.xml
  Frontend/Konnect/app/src/main/res/layout/entry_activity_main.xml
  Frontend/Konnect/app/src/main/res/layout/entry_activity_signup.xml
Due: android-build, android-test

New ProfileFragment
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/DashboardActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/ProfileFragment.java
Due: android-build, android-test

Changes because of previous name changes
  Frontend/Konnect/app/src/main/java/com/example/konnect/ProfileActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/FriendsFragment.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/entry/MainActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/entry/SignupActivity.java
Due: android-build, android-test

Start on ProfileFragment
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/DashboardActivity.java
Due: android-build, android-test

Moved profile Icon to the middle of the navigation
  Frontend/Konnect/app/src/main/res/menu/bottom_navigation.xml
Due: android-build, android-test

removed anything related to ProfileActivity
  Frontend/Konnect/app/src/main/AndroidManifest.xml
  Frontend/Konnect/app/src/main/java/com/example/konnect/ProfileActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/ProfileEditActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/SettingsActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/DashboardActivity.java
Due: android-build, android-test

renamed
  Frontend/Konnect/app/src/main/res/layout/dashboard_activity.xml
Due: android-build, android-test

Fixed error on login where you would get an error trying to sign in due to volley not responding before activity starts
  Frontend/Konnect/app/src/main/java/com/example/konnect/entry/MainActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/RequestJson.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/User.java
  Frontend/Konnect/app/src/main/res/layout/entry_activity_main.xml
  Frontend/Konnect/app/src/main/res/values/colors.xml
Due: android-build, android-test

Displays error on users screen and stops removes progressbar on error
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/RequestJson.java
Due: android-build, android-test

Saved users data when they are logged in, no need to login every time the application starts
  Frontend/Konnect/app/src/main/java/com/example/konnect/entry/MainActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/User.java
Due: android-build, android-test

Fixed errors with saved login information from users
  Frontend/Konnect/app/src/main/java/com/example/konnect/entry/MainActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/User.java
Due: android-build, android-test

Updated GSON version
  Frontend/Konnect/app/build.gradle
Due: android-build, android-test

UI changes for Profile
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/ProfileFragment.java
  Frontend/Konnect/app/src/main/res/layout/dashboard_fragment_profile.xml
Due: android-build, android-test

Edited height and width of Toolbar
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/FriendsFragment.java
  Frontend/Konnect/app/src/main/res/layout/dashboard_fragment_friends.xml
Due: android-build, android-test

Added new implementations for testing
  Frontend/Konnect/app/build.gradle
Due: android-build, android-test

Fully working Test file, goes through 4 basic test cases and passes each one
  Frontend/Konnect/app/src/androidTest/java/com/example/konnect/JaysonAcostaTest.java
Due: android-build, android-test

Changed Items to be displayed
  Frontend/Konnect/app/src/main/res/menu/bottom_navigation.xml
Due: android-build, android-test

Created SettingsFragment
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/DashboardActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/SettingsFragment.java
Due: android-build, android-test

Path conditions:
  maven-build: any of: Backend/backend_code/**/*
  maven-test: any of: Backend/backend_code/**/*
  auto-deploy: any of: Backend/backend_code/**/*
  android-build: any of: Frontend/Konnect/**/*
  android-test: any of: Frontend/Konnect/**/*
